nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Bungee', cursive;
}

nav > * {
  padding: 1.5em;
}