nav {
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-family: 'Bungee', cursive;
}

nav > * {
  padding: 1.5em;
}