/* New tweet section */

.new-tweet,
.new-tweet-error {
  display: none;
}

.new-tweet-form,
.new-tweet-footer {
  display: flex;
}

.new-tweet-form {
  flex-direction: column;

  margin: 0 0 3em 0;
}

.new-tweet-textarea {
  margin-bottom: 0.8em;

  border: none;
  border-bottom: 3px solid #545149;
  
  background-color: #f4f1ec;

  resize: none;
  outline: none;
}

.new-tweet-footer {
  justify-content: space-between;
}

.new-tweet-submit {
  border: none;
  padding: 0.3em 0.5em;

  background-color: #4056A1;

  font-family: 'Bungee', cursive;
  color: white;
}

.new-tweet-counter {
  font-family: 'Bungee', cursive;
}

.new-tweet-error {
  margin: 0 0 1em 0;
  border: 5px solid red;
  padding: 0.5em 1em;
  
  color: red;
}