/* Tweet */

.tweet,
.tweet-header,
.tweet-user,
.tweet-footer,
.tweet:hover .tweet-links {
  display: flex;
}

.tweet-header,
.tweet-user {
  align-items: center;
}

.tweet-links,
.tweet-username {
  display: none;
}

.tweet {
  flex-direction: column;

  margin: 0 0 3em 0;
  border: 3px solid #545149;
}

/* Header style */
.tweet-header {
  justify-content: space-between;
}

.tweet-avatar {
  margin: 0.5em;
}

.tweet-username {
  margin: 1em;

  font-weight: bold;
  color: #C4CBE3;
}

/* Main style */
.tweet-main {
  margin: 0 auto;
  border-bottom: 3px solid #545149;
  width: 98%;
}

.tweet-text {
  margin: 1em;
}

/* Footer style */
.tweet-footer {
  justify-content: space-between;

  margin-bottom: 0.6em;
}

.tweet-date {
  margin: 0 1em;
  padding: 0.5em;

  font-size: 0.7em;
}

.tweet-links {
  margin: 0 1em;

  list-style: none;
}

.tweet-link{
  margin: 0.5em;
  
  font-size: 0.6em;
  text-decoration: none;
  color: #4056A1;
}

/* Hover */
.tweet:hover {
  box-shadow: 10px 10px #C4CBE3;
}

.tweet:hover .tweet-username {
  display: block;
}