.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid #545149;
  margin: 3em 0;
}

/* Header style */
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .user {
  display: flex;
  align-items: center;
}

.tweet img {
  margin: 0.5em;
}

.tweet .username {
  display: none;
  font-weight: bold;
  color: #C4CBE3;
  margin: 1em;
}

/* Main style */
.tweet main {
  width: 98%;
  border-bottom: 3px solid #545149;
}

.tweet p {
  margin: 1em;
}

/* Footer style */
.tweet footer {
  display: flex;
  margin-bottom: 0.6em;
  justify-content: space-between;
}

.tweet .date {
  font-size: 0.7em;
  margin: 0 1em;
  padding: 0.5em;
}

.tweet ul {
  margin: 0 1em;
  list-style: none;
  display: flex;
}

.tweet li a{
  margin: 0.5em;
  font-size: 0.6em;
  color: #4056A1;
  text-decoration: none;
}

/* Hover */
.tweet:hover {
  box-shadow: 10px 10px #C4CBE3;
}

.tweet:hover .username {
  display: block;
}